@import "tailwindcss";

@theme {
  --color-brand-blue: #8A9BDC;
  --color-brand-light: #fdfcee;
  --color-brand-dark: #0A0F1A;
  --color-bg-dark: #070504;
  --font-sans: "Inter", sans-serif;
  --font-cursive: "Dancing Script", cursive;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-brand-light);
  overflow-x: hidden;
  font-family: var(--font-sans);
}

.shadow-ao {
  filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.8));
}

.shadow-volume {
  filter: drop-shadow(0px 20px 15px rgba(0, 0, 0, 0.5));
}

.shadow-ambient {
  box-shadow: 0px 40px 40px -10px rgba(45, 25, 10, 0.6);
}

.reflection {
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.3));
}

.product-container {
  perspective: 1000px;
}
